header {
    background-color: rgb(90, 81, 95);
    overflow: hidden;
}

body {
    background-color: rgb(104, 92, 110);
}

.logo {
    font-size: 4rem;
}

.header-nav {
    display: inline;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin: 1.5rem;
}

.success-message {
    margin-top: 5rem;
    text-align: center;
}